@model EasyBuy.Models.Product
@{
    ViewData["Title"] = "Details";

}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <span class=" text-warning font-weight-normal"><b> Product Details</b></span>
            </div>
            <div class="row">
                <div class="col-md-7 ml-2">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Category"></label>
                                <input readonly="readonly" class="form-control" value="@Model.Category.Name" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group ">
                                <label asp-for="Name"></label>
                                <input readonly="readonly" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input readonly="readonly" asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="PrevPrice"></label>
                                <input readonly="readonly" asp-for="PrevPrice" class="form-control" />
                                <span asp-validation-for="PrevPrice"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Quantity"></label>
                                <input readonly="readonly" asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input readonly="readonly" asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group ">
                                <label asp-for="Specification"></label>
                                <input readonly="readonly" asp-for="Specification" class="form-control" />
                                <span asp-validation-for="Specification"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="inp" value="1" />
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-danger" id="decBtn"><i class="fas fa-minus"></i></button>
                            <form asp-action="AddToCard" method="post">
                                <input type="hidden" asp-for="Id" />
                                <span>
                                    <input id="displayQnt" readonly  name="quentity" value="1" class="border-0" />
                                </span>
                                <div class="row">
                                    <div class="col-md-4 ml-1">
                                        <div class="form-group ">

                                            <button class="btn btn-success ml-1" type="submit">AddToCart</button>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-8 ml-1">
                                        <div class="form-group ">
                                            <a asp-action="Index" class="btn btn-warning ml-1">Back To List</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-info" id="incBtn"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mt-5">
                    <img src="~/@Model.Image" alt="Alternate Text" style="border-radius: 5px;border: 1px solid #efefef" ; width="300" ;height="300" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var x = 1;
        $(document).ready(function () {
            $("#incBtn").click(function (){
                var y = parseInt($("#inp").val());
                if (x < 5) {
                    x += y;
                }
                else {
                    $('#decBtn').removeAttr("disabled");
                }
          
           $("#displayQnt").val(x);
           console.log(x);
            });
         $("#decBtn").click(function (){
          //var y = parseInt($("#inp").val());
             if (x > 1) {
                 x = x - 1;
             }
             else {
                 $('#decBtn').removeAttr("disabled");
             }
        
        $("#displayQnt").val(x);
        console.log(x);
         });
            //<a asp-action="AddToCart" asp-route-id="x" class="btn btn-success ml-1" type="submit">AddToCart</a>
        });

    </script>

 }